@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700,900&display=swap");
@import "../../node_modules/vuetify/src/styles/styles";

$body-font-family: 'Poppins', sans-serif;
$typoOptions: display-4, display-3, display-2, display-1, headline, title, subtitle-1, subtitle-2, body-1, body-2, caption, overline;
#app {
  font-family: $body-font-family, sans-serif !important;
  @each $typoOption in $typoOptions {
    .#{$typoOption} {
      font-family: $body-font-family, sans-serif !important;
    }
  }
}

$container-max-widths: map-merge($container-max-widths, (
        'xl': map-get($grid-breakpoints, 'lg') * 0.9375
))